// Fonts
$pn-regular: "ProximaNova-Regular", sans-serif;
$pn-bold: "ProximaNova-Bold", sans-serif;


$default-font: $pn-regular;


// Colors
$color-text: #1d1d21;
$color-bg: #fff;


$default-transition: all .3s ease-out;
$long-transition: all 1s ease-out;
