// Fonts
$mp-regular: "MyriadPro-Regular", sans-serif;
$l-regular: "Lato-Regular", sans-serif;
$l-black: "Lato-Black", sans-serif;
$l-italic: "Lato-Italic", sans-serif;
$l-bold: "Lato-Bold", sans-serif;
$pd-regular: "PlayfairDisplay-Regular", sans-serif;
$pd-bold: "PlayfairDisplay-Bold", sans-serif;
$pd-italic: "PlayfairDisplay-Italic", sans-serif;



$default-font: $l-regular;

// Sizes
$font-size: 1rem;

// Colors
$color-text: #999999;
$color-bg: #fff;


$default-transition: all .3s ease-out;
$long-transition: all 1s ease-out;
