// Fonts
$a-regular: "Abel-Regular", sans-serif;


$default-font: $a-regular;

// Sizes
$font-size: 1rem;

// Colors
$color-text: #181a1f;
$color-bg: #fff;


$default-transition: all .3s ease-out;
$long-transition: all 1s ease-out;
