@import "_mixins/mixins";



@include r(578){
	.testimonials{
		&__tabcontent{
			&--img{
				margin-right: 33px;	
			}
			&--info{
				margin-bottom: 11px;	
				width: calc(100% - 138px);
			}
		}
	}
}


@include r(992){
	h1, h2 {
		line-height: 80px;
	}
	.title{
		&-decorate{
			bottom: 0;	
		}
	}
	.header{
		background-position: center;
		&:before{
			background-position: 0 30%;
		}
		&__item{
			&--info{
				padding: 78px 10px 66px;
				max-width: 100%;
				width: 100%;
			}
		}
		&__txt{
			color: $color-text;
		}
		&__title{
			font-size: 55px;	
			line-height: 80px;
			color: #0f81f8;	
			&-decorate{
				&-line{
					&:before,&:after{
						background-color: #0f81f8;
					}
				}
			}
		}
	}
	.steps{
		&__inner{
			padding: 124px 15px 151px;
			max-width: 1690px;
			width: 100%;
			margin: auto;
			box-sizing: border-box;
		}
		&__desc{
			margin-bottom: 90px;	
		}
		&__item{
			&--info{
				padding: 0 50px;	
			}
		}
	}
	.video{
		&__inner{
			padding: 95px 15px 73px;
		}
		&__item{
			&--info{
				padding: 65px 56px 0 15px;
			}
		}
	}
	.testimonials{
		&__inner{
			padding: 125px 15px;
		}
		&__desc{
			margin-bottom: 65px;	
		}
		&__tabcontent{
			&--triangle {
				width: 0;
				transition: $default-transition;
				height: 0;
				border-top: 11px solid transparent;
				border-bottom: 11px solid transparent;
				border-left: 22px solid #e6e6e6;
				position: absolute;
				display: block;
				top: 63px;
				z-index: 15;
				right: -33px;
				left: auto;	
				&:before {
					content: '';
					position: absolute;
					top: -10px;
					left: -22px;
					width: 0;
					height: 0;
					border-top: 10px solid transparent;
					border-bottom: 10px solid transparent;
					border-left: 21px solid white;
				}
			}
		}
	}
	.tabcontent {
		animation: fadeEffectX .5s, rotateEffectX 1s;
	}
	.tablinks-wrap{
		margin-left: 90px;	
		margin-bottom: 0;	
	}
	.steps{
		&__item{
			&--img{
				&-1{
					background-position: 49% 20%;
				}
				&-2{
					background-position: 48% 40%;
				}
				&-3{
					background-position: 49.5% 100%;
				}
			}
		}
	}
	.team{
		&__inner{
			padding: 98px 15px 120px;
		}
	}
	.contact{
		&__inner{
			padding: 44px 15px 100px;
		}
		&__form{
			&__check{
				margin-bottom: 0;	
				width: calc(50% - 5px);
				padding-left: 8px;
			}
			&__btns{
				width: 50%;	
				text-align: right;
			}
		}
	}
	.footer{
		&__inner{
			padding: 43px 15px 18px;
		}
		&__item{
			&--inner{
				&-1{
					padding-top: 30px;
				}
				&-2{
					padding-left: 90px;
				}
				&-3{
					padding-top: 63px;
				}
			}
		}
		&__logo{
			margin-bottom: 46px;	
		}
		&__social{
			text-align: right;
		}
	}
}

@include r(1200){
	.steps__item--info {
		padding: 0 120px;
	}
}

@include r(1500){
	.steps__item--info {
		padding: 0 160px;
	}
}

@include r(1720){
	.header{
		&:before{
			background-position: 12.6% 23%;
		}
	}
}