// Fonts
$g-regular: "Geometria", sans-serif;
$g-medium: "Geometria-Medium", sans-serif;
$g-bold: "Geometria-Bold", sans-serif;


$default-font: $g-regular;

// Sizes
$font-size: 1rem;

// Colors
$color-text: #08294c;
$color-bg: #fff;


$default-transition: all .3s ease-out;
$long-transition: all 1s ease-out;
